<div>
    <div class="submit-form" novalidate >
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title"><title></title></label>
                <input 
                type="text" 
                placeholder="Titulo"
                class="form-control"
                id="title"
                required
                [(ngModel)]="tutorial.title"
                name="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input 
                type="text"
                placeholder=""
                class="form-control"
                id="description"
                required
                [(ngModel)]="tutorial.description"
                name="description">
            </div>
            <button (click)="saveTutorial()" class="btn btn-sucess">submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Sucesso Produto Registrado!!</h4>
            <button class="btn btn-sucess" (click)="newTutorial()">Add</button>
        </div>
    </div>
</div>
